__pycache__/
*.pyc
*.pth
*.pt
*.png
!moons_samples.png
!moons_loss.png
!fashion_samples.png
!fashion_loss.png
!cifar10_samples.png
!cifar10_loss.png
checkpoints/
outputs/
*.jpg
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store
.python-version
wandb/
data/**
runs/**

