__pycache__/
*.pyc
*.pth
*.pt
*.png
!moon_samples.png
!moon_loss.png
!fashionmnist_samples.png
!fashionmnist_loss.png
*.jpg
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store
.python-version
wandb/
data/**
